<div class="d-flex align-items-center justify-content-center">
    <div class="w-75">
        <form class="form-group" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <h1 class="mb-3">Create Task</h1>
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" formControlName="title">
            </div>

            <div class="w-25 mb-3">
                <label for="requiredBy" class="form-label">Due Date</label>
                <input type="date" class="form-control" id="requiredBy" aria-describedby="requiredBy" formControlName="requiredBy">
            </div>
            
            <div class="w-25 mb-3">
                <label for="type" class="form-label">Type</label>
                <select class="form-select" id="type" required formControlName="type">
                    <option *ngFor="let type of taskTypes" [value]="type">{{type}}</option>
                </select>
            </div>
            
            <div class="w-25 mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" required formControlName="status">
                    <option *ngFor="let status of taskStatuses" [value]="status">{{status}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea rows="5" class="form-control" id="description" formControlName="description"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary" *ngIf="!isUpdate">Create</button>
            <button type="submit" class="btn btn-primary" *ngIf="isUpdate">Update</button>
        </form>
    </div>
</div>