<h1 class="mt-3">Results for: {{query}}</h1>
<h2 class="mt-3">Tasks...</h2>
<div class="table-responsive">
    <table class="table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th class="tight" scope="col">Status</th>
                <th class="tight" scope="col">Type</th>
                <th class="tight" scope="col">Creator</th>
                <th class="tight" scope="col">Added</th>
                <th class="tight" scope="col">Due</th>
                <th class="tight" scope="col">Assignees</th>
            </tr>
        </thead>

        <tbody>
        <tr *ngFor="let task of tasks" (click)="navigateToTask(task.id ?? '')">
            <td>{{task.title}}</td>
            <td>
                <h5>
                    <span class="badge badge-pill bg-danger ms-1" *ngIf="task.status === 'New'">Status: {{task.status}}</span>
                    <span class="badge badge-pill bg-warning ms-1" *ngIf="task.status === 'InProgress'">Status: {{task.status}}</span>
                    <span class="badge badge-pill bg-success ms-1" *ngIf="task.status === 'Done'">Status: {{task.status}}</span>
                </h5>
            </td>
            <td>
                <h5>
                    <span class="badge badge-pill bg-primary" *ngIf="task.type === 'Task'">{{task.type}}</span>
                    <span class="badge badge-pill bg-info" *ngIf="task.type === 'Bug'">{{task.type}}</span> 
                </h5>   
            </td>
            <td>
                <h5>
                    <span class="badge badge-pill bg-dark ms-1">{{task.creator.username}}</span>
                </h5>
            </td>
            <td>
                <h5>
                    <span class="badge badge-pill bg-dark ms-1">{{dateDisplay(task.dateAdded)}}</span>
                </h5>
            </td>
            <td>
                <h5>
                    <span class="badge badge-pill bg-dark ms-1">{{dateDisplay(task.requiredBy)}}</span>
                </h5>
            </td>
            <td>
                <h5 class="fit">
                    <span class="badge bg-warning me-1" *ngFor="let assignee of task.assignees">{{assignee.username}}</span>
                </h5>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<h2 class="mt-3">Comments...</h2>
<div class="table-responsive">
    <table class="table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="tight" scope="col">Creator</th>
                <th class="tight" scope="col">Added</th>
                <th scope="col">Text</th>
            </tr>
        </thead>

        <tbody>
        <tr *ngFor="let comment of comments" (click)="navigateToTask(comment.taskId)">
            <td>
                <h5>
                    <span class="badge badge-pill bg-dark ms-1">{{comment.creator.username}}</span>
                </h5>
            </td>
            <td>
                <h5 class="fit">
                    <span class="badge badge-pill bg-dark ms-1">{{dateDisplay(comment.dateAdded)}}</span>
                </h5>
            </td>
            <td>
                <h5 class="fit">
                    <p>{{comment.text}}</p>
                </h5>
            </td>
        </tr>
        </tbody>
    </table>
</div>