<div class="d-flex align-items-center justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <h1 class="mb-3">Login</h1>
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="userName" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>